/*EXAMPLE 1*/
/*p {*/
    /*color: red;*/
/*}*/

/*h1 {*/
    /*color: red;*/
/*}*/

/*EXAMPLE 2*/
p {
    background-color: gray;
    color: yellow;
}

.secondParagraph {
    background-color: blue;
}

/*EXAMPLE 3*/
.firstParagraph {
    color: pink;
}
.thirdParagraph {
    color: pink;

}
.fourthParagraph {
    color: pink;
}

/*EXAMPLE 4*/
span {
    text-decoration-line: underline;
}
.thirdParagraph{
    text-align: center;
}

/*EXAMPLE 5*/
span {
    display: block;
}
