/*EXAMPLE 1*/
/*p {*/
    /*color: red;*/
/*}*/

/*h1 {*/
    /*color: red;*/
/*}*/

/*EXAMPLE 2*/
p {
    background-color: gray;
    color: yellow;
}

.secondParagraph {
    background-color: blue;
}